@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(120px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(120px) rotate(-360deg);
  }
}

.orbit {
  animation: orbit 3s linear infinite;
}

