#lightings {
  bottom: -60px;
  position: absolute;
  width: 100%;
}

#lightings section {
  border-radius: 50%;
  height: 20px;
  width: 100%;
  position: relative;
  margin: auto;
}

#one {
  animation: one 5s ease-in-out infinite alternate;
}
@keyframes one {
  from {
    box-shadow: 0 0 250px 20px #473C78;
  }
  to {
    box-shadow: 0 0 100px 15px #F72A3B;
  }
}

#two {
  width: 90%;
  animation: two 4s ease-in-out infinite alternate;
}
@keyframes two {
  from {
    box-shadow: 0 0 250px 20px #18C499;
  }
  to {
    box-shadow: 0 0 100px 15px #D8F05E;
  }
}

#three {
  width: 80%;
  animation: three 3s ease-in-out infinite alternate;
}
@keyframes three {
  from {
    box-shadow: 0 0 250px 20px #FFDD00;
  }
  to {
    box-shadow: 0 0 100px 15px #3E33FF;
  }
}

#four {
  width: 70%;
  animation: four 2s ease-in-out infinite alternate;
}
@keyframes four {
  from {
    box-shadow: 0 0 250px 20px #781848;
  }
  to {
    box-shadow: 0 0 100px 15px #F2BBE9;
  }
}

#five {
  width: 60%;
  animation: five 1s ease-in-out infinite alternate;
}
@keyframes five {
  from {
    box-shadow: 0 0 250px 20px #42F2A1;
  }
  to {
    box-shadow: 0 0 100px 15px #F4F6AD;
  }
}
